.warpper {
	padding: 20px;
	border: 1px #999 solid;
	background-color: #eee;
	overflow: hidden;
}

.logo {
	width: 200px;
	height: 150px;
	float: left;
}
.person {
	width: 120px;
	height: 200px;
	float: right;
}
.logo .logopic {
	width: 80px;
	height: 80px;
	background-image: url(01.jpg);
}
.content {
	border: 2px #333 solid;
/*	float:left;*/
margin-left: 120px;
margin-right: 200px;
}

.person .a, .person .b, .person .c, .person .d {
	width: 80px;
	height: 80px;
	background-image: url(01.jpg);
	margin:10px 10px;	
} 